In [12]:
!pip install requests

Collecting requests
  Downloading requests-2.23.0-py2.py3-none-any.whl (58 kB)
Requirement already satisfied: idna<3,>=2.5 in c:\users\quangvng\appdata\local\continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\quangvng\appdata\local\continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages (from requests) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\quangvng\appdata\local\continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages (from requests) (2019.11.28)
Collecting chardet<4,>=3.0.2
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Installing collected packages: chardet, requests
Successfully installed chardet-3.0.4 requests-2.23.0

In [13]:
import pandas as pd

In [14]:
from bs4 import BeautifulSoup
import requests
url = "https://gdsc.ce.capgemini.com/teams/?page=1"
req  = requests.get(url, verify=False)

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [15]:
soup = BeautifulSoup(req.content, 'html.parser')
#print(soup.prettify())

In [16]:
def tableDataText(table, page):       
    df = pd.DataFrame(columns=['Id', 'Team Name', 'Members', 'Members Count', 'Countries', 'Page'])
    trs = table.find_all('tr')
    for tr in trs: # for every table row
        row = [td.get_text(strip=True) for td in tr.find_all('td')] # data row
        if len(row) > 0:
            row.append(page)
            df.loc[len(df)] = row
    return df

In [17]:
df_teams = pd.DataFrame(columns=['Id', 'Team Name', 'Members', 'Members Count', 'Countries', 'Page'])

In [18]:
df_teams

Empty DataFrame
Columns: [Id, Team Name, Members, Members Count, Countries, Page]
Index: []

In [19]:
i = 1
while(i < 13):
    url = "https://gdsc.ce.capgemini.com/teams/?page=" + str(i)
    print("Crawling " + url + " ...")
    req  = requests.get(url, verify=False)
    soup = BeautifulSoup(req.content, 'html.parser')
    teams_table = soup.find_all("table")[2] # take 3rd table in each page
    df_teams = df_teams.append(tableDataText(teams_table, i),ignore_index = True)
    i+=1

Crawling https://gdsc.ce.capgemini.com/teams/?page=1 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=2 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=3 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=4 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=5 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=6 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=7 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=8 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=9 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=10 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=11 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

Crawling https://gdsc.ce.capgemini.com/teams/?page=12 ...

C:\Users\quangvng\AppData\Local\Continuum\anaconda3\envs\global_data_science_challenge_3\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'gdsc.ce.capgemini.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [22]:
df_teams.head()

,Id,Team Name,Members,Members Count,Countries,Page
0,1,Moby Data,{'saibal.mukherjee@capgemini.com'},1,{'India'},1
1,2,Data Novice,{'suraj.a.singh@capgemini.com'},1,{'India'},1
2,3,SaveWhale,{'kousik.roy@capgemini.com'},1,{'India'},1
3,4,Data-venger,{'sai-prudhvi-sharma.golla@capgemini.com'},1,{'India'},1
4,5,AI Masters,{'anant.maru@capgemini.com'},1,{'India'},1

In [23]:
df_teams.shape

(600, 6)

In [24]:
 pd.options.display.max_colwidth = 150

In [25]:
df_teams[df_teams['Countries'].str.contains("Sweden")]

,Id,Team Name,Members,Members Count,Countries,Page
6,7,Oxygen,"{'sigfrid.lindhe@capgemini.com', 'anton.lindelof-holmqvist@capgemini.com', 'fredrik.bengtsson@capgemini.com', 'christopher.jonsson@capgemini.com'}",4,{'Sweden'},1
125,126,Overwhaleming Data,"{'jaya.abraham@capgemini.com', 'quang-vu.nguyen@capgemini.com'}",2,{'Sweden'},3
131,132,WhaleTail,{'hamed.khodabakhshi@capgemini.com'},1,{'Sweden'},3
132,133,The Tail of a Whale,"{'markus.sandell@capgemini.com', 'caroline.ottenhall@capgemini.com', 'olga.krali@capgemini.com', 'johan.wikstrom@capgemini.com'}",4,{'Sweden'},3
357,358,Team k√§rnan,"{'akbar.shaikh@capgemini.com', 'gopikrishna.jaganmohan@capgemini.com', 'bertan.yilmaz@capgemini.com', 'bipin.nair@capgemini.com'}",4,{'Sweden'},8
402,403,Inbuiltminds,"{'saravanan.se@capgemini.com', 'saran.pantangi@capgemini.com'}",2,{'Sweden'},9
474,475,Global Data Cruncher,"{'chandrashekhara.nathegowda@capgemini.com', 'nagaraju.alapati@capgemini.com', 'muralikrishna.nadakuditi@capgemini.com'}",3,"{'Sweden', 'India'}",10
592,593,The Ocean Crawlers,{'karin.bjornwall@sogeti.se'},1,{'Sweden'},12

In [26]:
df_teams[df_teams['Team Name']=='X']

,Id,Team Name,Members,Members Count,Countries,Page
315,316,X,"{'harsh.c.vardhan@capgemini.com', 'narayana-reddy.ankireddy@capgemini.com'}",2,{'India'},7

In [27]:
df_teams[df_teams['Team Name']=='ZeusOnFire']

,Id,Team Name,Members,Members Count,Countries,Page
539,540,ZeusOnFire,{'ahmed.besbes@capgemini.com'},1,{'France'},11

In [28]:
df_teams[df_teams['Team Name']=="Whale'Jazzy"]

,Id,Team Name,Members,Members Count,Countries,Page
510,511,Whale'Jazzy,"{'clelia.colas@capgemini.com', 'julien.sauvan@capgemini.com', 'louis.hulot@capgemini.com'}",3,{'France'},11

In [29]:
df_teams[df_teams['Team Name'].str.contains('whaleIP')]

,Id,Team Name,Members,Members Count,Countries,Page
322,323,whaleIP<-predict(üêç),"{'ronit.a.saha@capgemini.com', 'wenjie.cai@capgemini.com', 'philipp.a.schwarz@capgemini.com'}",3,{'Germany'},7